@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
:root {
  --main-color: #1fab89;
  --main-color-opacity30: rgba(31, 171, 137, 0.3);
  --sub-color: #62d2a2;
  --sub2-color: #9df3c4;
  --bg-color: #e9f3ef;
  --font: "Yeon Sung", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  word-break: keep-all;
}
a {
  color: #000;
  text-decoration: none;
}
#EndDate {
  padding: 90px 20px 30px 20px;
  text-align: center;
}
#EndDate .EndDate-container .title,
#EndDate .EndDate-container .subtitle {
  padding: 10px;
}
#EndDate .EndDate-container .subtitle {
  margin-bottom: 30px;
}
#EndDate .EndDate-container .contents img {
  margin-bottom: 50px;
}
#EndDate .EndDate-container .contents label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
#EndDate .EndDate-container .contents label input {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #62d2a2;
  font-size: 22px;
  padding: 0 5px;
  text-align: center;
}
#EndDate .EndDate-container .contents label input#EndMonth,
#EndDate .EndDate-container .contents label input#EndDay {
  width: 50px;
}
#EndDate .EndDate-container .contents label input:focus {
  outline: 2px solid #62d2a2;
}
#EndDate .EndDate-container button {
  border: none;
  background-color: #62d2a2;
  color: #fff;
  letter-spacing: 0.3em;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  margin-top: 34px;
}
