@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
:root {
  --main-color: #1fab89;
  --main-color-opacity30: rgba(31, 171, 137, 0.3);
  --sub-color: #62d2a2;
  --sub2-color: #9df3c4;
  --bg-color: #e9f3ef;
  --font: "Yeon Sung", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  word-break: keep-all;
}
a {
  color: #000;
  text-decoration: none;
}
.container {
  margin-bottom: 90px;
}
/* ----------header start---------- */
#main .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px 0 20px;
}
#main .container .header .user-name h1 {
  font-size: 24px;
}
#main .container .header .info-setting {
  font-size: 32px;
  display: flex;
  gap: 20px;
}
#main .container .header .info-setting a {
  color: var(--main-color);
  display: flex;
}
#main .container .header .info-setting a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#main .container .header .info-setting .info,
#main .container .header .info-setting .setting {
  display: flex;
  align-items: center;
}
/* ----------header end---------- */
/* ----------main-timer start---------- */
#main .container .main-timer {
  margin: 30px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  text-align: center;
}
#main .container .main-timer .main-timer-clock {
  display: flex;
  gap: 10px;
}
#main .container .main-timer .main-timer-day,
#main .container .main-timer .main-timer-clock .main-timer-hour,
#main .container .main-timer .main-timer-clock .main-timer-minute {
  padding: 10px;
}
/* ----------main-timer end---------- */
/* ----------achievement start---------- */
#main .container .achievement {
  background-color: var(--bg-color);
  border-radius: 10px;
  margin: 30px 10px 0 10px;
  padding: 20px;
}
#main .container .achievement-title {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
#main .container .achievement-title .achievement-icon {
  font-size: 20px;
  color: #ffac33;
}
#main .container .achievement-title h1 {
  font-size: 24px;
}
#main .container .achievement-title h3 {
  font-size: 16px;
}
#main .container .achievement .achievement-contents {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#main .container .achievement .achievement-content {
  width: 70px;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#main .container .achievement .achievement-content img {
  width: 60px;
  height: 60px;
}
#main .container .achievement .achievement-content .achievement-content-text {
  font-size: 10px;
  padding: 5px 0;
}
/* ----------achievement end---------- */
/* ----------result start---------- */
#main .result {
  background-color: var(--bg-color);
  border-radius: 10px;
  margin: 30px 10px 0 10px;
  padding: 20px;
}
#main .result .result-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
#main .result .result-title .result-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
}
#main .result .result-contents .count,
#main .result .result-contents .save,
#main .result .result-contents .time,
#main .result .result-contents .overcome {
  margin: 20px 0;
  display: flex;
}

#main .result .result-contents .overcome {
  margin-bottom: 0;
}
#main .result .result-contents .count-icon,
#main .result .result-contents .save-icon,
#main .result .result-contents .time-icon,
#main .result .result-contents .overcome-icon {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  font-size: 18px;
}
#main .result .result-contents .count-content,
#main .result .result-contents .save-content,
#main .result .result-contents .time-content,
#main .result .result-contents .overcome-content a {
  display: flex;
  width: calc(100% - 32px);
  margin: 0 20px;
  justify-content: space-between;
  align-items: center;
}
#main .result .result-contents .overcome-content {
  width: 100%;
}
#main .result .result-contents .overcome-content a {
  display: flex;
  justify-content: space-between;
}
#main .result .result-contents .overcome-content span {
  display: flex;
  align-items: center;
  font-size: 24px;
}
#main .result .result-contents .contour {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #9df3c4;
  margin: 30px 0;
}
/* ----------result end---------- */
/* ----------change start ---------- */
#main .change {
  background-color: var(--bg-color);
  border-radius: 10px;
  margin: 30px 10px 0 10px;
  padding: 20px;
}
#main .change-title,
#main .change-seemore {
  display: flex;
  align-items: center;
  gap: 10px;
}
#main .change-seemore {
  gap: 0px;
}
#main .change-title .change-icon,
#main .change-seemore-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
}
#main .change-seemore-icon {
  border-radius: 5px;
}
#main .change .change-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
#main .change .change-contents .prev,
#main .change .change-contents .next {
  font-size: 10px;
  margin: 10px 0;
  width: 80%;
}
#main .change .change-contents .now .progress {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}
#main .change .change-contents .now .progress p {
  font-size: 16px;
  width: 10%;
}
#main .change .change-contents .now #progress {
  width: 90%;
  height: 10px;
  -webkit-appearance: none;
}
#main .change .change-contents .now progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #fff;
}
#main .change .change-contents .now progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: var(--sub2-color);
}
#main .change .change-contents .contour {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #9df3c4;
  margin: 10px 0;
}
#main .change-seemore {
  margin-top: 20px;
}

#main .change-seemore-content {
  width: calc(100% - 64px);
}
#main .change-seemore-content a {
  display: flex;
  margin: 0 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#main .change-seemore-content span {
  display: flex;
  align-items: center;
  font-size: 24px;
}
/* ----------change end---------- */
/* ----------knowledge start---------- */
#main .knowledge {
  background-color: var(--bg-color);
  border-radius: 10px;
  margin: 30px 10px 0 10px;
  padding: 20px;
}
#main .knowledge-title,
#main .knowledge-seemore {
  display: flex;
  align-items: center;
  gap: 10px;
}
#main .knowledge-seemore {
  gap: 0px;
}
#main .knowledge-title .knowledge-icon,
#main .knowledge-seemore .knowledge-seemore-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
}
#main .knowledge-seemore .knowledge-seemore-icon {
  border-radius: 5px;
}
#main .knowledge-content h2 {
  font-size: 20px;
  margin-top: 20px;
}
#main .knowledge-content h4 {
  font-size: 12px;
  margin-top: 10px;
}
#main .knowledge .contour {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #9df3c4;
  margin: 30px 0;
}
#main .knowledge-seemore-content {
  width: calc(100% - 64px);
}
#main .knowledge-seemore-content a {
  display: flex;
  margin: 0 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#main .knowledge-seemore-content span {
  display: flex;
  align-items: center;
  font-size: 24px;
}
/* ----------knowledge end---------- */
/* ----------footer start---------- */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  display: flex;
  border-top: 1px solid var(--main-color);
  background: #fff;
}
footer .home,
footer .achievement,
footer .community,
footer .calendar {
  flex: 1;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .home a,
footer .achievement a,
footer .community a,
footer .calendar a {
  color: var(--main-color-opacity30);
}
footer .home.active a,
footer .achievement.active a,
footer .community.active a,
footer .calendar.active a {
  color: var(--main-color);
}

/* ----------footer end---------- */
#community .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#community .title h1 {
  width: calc(100% - 72px);
  text-align: center;
}
#community .container {
  padding: 20px;
  margin-bottom: 60px;
}
#community .container .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#community .container .content a {
  border-radius: 15px;
  color: #fff;
}
#community .container .content a div {
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid #000;
}
#community .container .content a.clinic {
  background-image: url(../images/clinic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#community .container .content a.chatting {
  background-image: url(../images/chatting.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#community .container .content a.site1 div {
  background-image: url(../images/site1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#community .container .content a.site2 div {
  background-image: url(../images/site2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
