@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
:root {
  --main-color: #1fab89;
  --main-color-opacity30: rgba(31, 171, 137, 0.3);
  --sub-color: #62d2a2;
  --sub2-color: #9df3c4;
  --bg-color: #e9f3ef;
  --font: "Yeon Sung", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yeon Sung", cursive;
}
#userinfo .container {
  position: relative;
  margin: 30px 10px;

  margin-bottom: 80px;
}
#userinfo .container .title {
  width: 100%;
  display: flex;
}
#userinfo .container .title .backbutton {
  margin-left: 10px;
}
#userinfo .container .title > h1 {
  width: calc(100% - 120px);
  text-align: center;
  margin-bottom: 30px;
}
#userinfo .container .inputbox-name {
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#userinfo .container .inputbox-name .userName {
  margin-left: 20px;
  font-size: 28px;
  width: 100px;
  border-style: none;
}

/* 추가 css */
#userinfo .container .inputbox-name .imgUp {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: none;
}

#userinfo .container .inputbox-name .userImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

#userinfo .container .inputbox-name .userName {
  margin-left: 20px;
  font-size: 28px;
  width: 100px;
  border-style: none;
}
/* 추가 end */

#userinfo .container .inputbox-BrithDay {
  width: calc(100% -20px);
  height: 80px;
  border-radius: 10px;
  background: #e9f3ef;
  margin: 15px 0;
}

#userinfo .container .inputbox-Price {
  width: calc(100% -20px);
  height: 80px;
  border-radius: 10px;
  background: #e9f3ef;
  margin: 15px 0;
}
#userinfo .container .inputbox-CountPerDay {
  width: calc(100% -20px);
  height: 80px;
  border-radius: 10px;
  background: #e9f3ef;
  margin: 15px 0;
}
#userinfo .container .inputbox-end {
  width: calc(100% -20px);
  height: 120px;
  border-radius: 10px;
  background: #e9f3ef;
  margin: 15px 0;
}
#userinfo .container .inputbox-Start {
  width: calc(100% -20px);
  height: 120px;
  border-radius: 10px;
  background: #e9f3ef;
  margin: 15px 0;
}
#userinfo .container .input-userinfo-button {
  width: calc(100% - 40px);
  background: #62d2a2;
  margin: 0 auto;
  height: 50px;
  border-radius: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userinfo .container button {
  border-style: none;
  background: #62d2a2;
  font-size: 28px;
  color: #fff;
}
#userinfo .container div > h3 {
  padding: 10px 20px;
  font-size: 16px;
}
#userinfo .container .content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-left: 20px;
  align-items: center;
}
#userinfo .container .content-box input {
  text-align: center;
}
#userinfo .container .content-box .w100px {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #62d2a2;
  font-size: 18px;
}
#userinfo .container .content-box .w50px {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #62d2a2;
  font-size: 18px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  display: flex;
  border-top: 1px solid var(--main-color);
  background: #fff;
}
footer .home,
footer .achievement,
footer .community,
footer .calendar {
  flex: 1;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .home a,
footer .achievement a,
footer .community a,
footer .calendar a {
  color: var(--main-color-opacity30);
}
footer .home.active a,
footer .achievement.active a,
footer .community.active a,
footer .calendar.active a {
  color: var(--main-color);
}
