<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>community</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body id="community">
    <div class="container">
      <div class="title">
        <a href="/main"><img src="./images/achieve_1.png" alt="back" /></a>
        <h1>커뮤니티</h1>
      </div>
      <div class="content">
        <a class="chatting" href="/chatting">
          <div>
            <h3>채팅</h3>
            <h2>금연 노하우를 공유해보세요</h2>
          </div>
        </a>
        <a class="clinic" href="/clinic">
          <div>
            <h3>금연 클리닉</h3>
            <h2>근처 클리닉 센터의 도움을 받아보세요</h2>
          </div>
        </a>
        <a class="site1" href="https://www.nosmokeguide.go.kr/index.do">
          <div></div>
        </a>
        <a class="site2" href="https://nosmk.khealth.or.kr/nsk/ntcc/index.do">
          <div></div>
        </a>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <div class="home">
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="achievement">
        <a href="/achievement"><i class="fa-solid fa-trophy"></i></a>
      </div>
      <div class="community active">
        <a href="/community"><i class="fa-solid fa-user-group"></i></a>
      </div>
      <div class="calendar">
        <a href="/calendar"><i class="fa-solid fa-calendar-days"></i></a>
      </div>
    </footer>
    <!-- fontA -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
