<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://port-0-damdamv2-4fuvwk25lcstd4fc.gksl2.cloudtype.app/"
    />
    <meta property="og:title" content="담담" />
    <meta property="og:image" content="https://i.ibb.co/qCCd1X7/Frame-2.png" />
    <meta property="og:description" content="금연 웹앱" />
    <meta property="og:site_name" content="DamDam" />
    <meta property="og:locale" content="Kor" />
    <meta name="keywords" content="금연, 웹앱" />
    <meta name="author" content="이름" />
    <meta name="description" content="DamDam 홈페이지입니다." />
    <link rel="icon" href="/images/favicon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#1fab89" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1fab89" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/css/EndDate.css" />
    <title>EndDate</title>
  </head>
  <body id="EndDate">
    <div class="EndDate-container">
      <div class="title"><h1>금연 시작 날짜가 오늘인가요?</h1></div>
      <div class="subtitle"><h4>아니라면 시작 날짜를 입력해주세요</h4></div>
      <div class="contents">
        <img src="/images/EndDate-title.png" alt="EndDate-title" />
        <form action="/EndDateData" method="post">
          <label for="EndDate">
            <input
              type="text"
              name="EndYear"
              id="EndYear"
              autocomplete="off"
              required
              maxlength="4"
            />
            <span>년</span>
            <input
              type="text"
              name="EndMonth"
              id="EndMonth"
              autocomplete="off"
              required
              maxlength="2"
            />
            <span>월</span>
            <input
              type="text"
              name="EndDay"
              id="EndDay"
              autocomplete="off"
              required
              maxlength="2"
            />
            <span>일</span>
            <input
              type="text"
              name="EndHour"
              id="EndHour"
              autocomplete="off"
              required
              maxlength="2"
            />
            <span>시</span>
            <input
              type="text"
              name="EndMinute"
              id="EndMinute"
              autocomplete="off"
              required
              maxlength="2"
            />
            <span>분</span>
          </label>
          <button>다음</button>
        </form>
      </div>
    </div>

    <script>
      let EndYear = document.querySelector("#EndYear");
      let EndMonth = document.querySelector("#EndMonth");
      let EndDay = document.querySelector("#EndDay");
      let EndHour = document.querySelector("#EndHour");
      let EndMinute = document.querySelector("#EndMinute");

      let D = new Date();
      EndYear.value = D.getFullYear();
      EndMonth.value = D.getMonth() + 1;
      EndDay.value = D.getDate();
      EndHour.value = D.getHours();
      EndMinute.value = D.getMinutes();
    </script>
  </body>
</html>
