<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="url을 입력해주세요" />
    <meta property="og:title" content="담담" />
    <meta property="og:image" content="https://i.ibb.co/qCCd1X7/Frame-2.png" />
    <meta property="og:description" content="금연 웹앱" />
    <meta property="og:site_name" content="DamDam" />
    <meta property="og:locale" content="Kor" />
    <meta name="keywords" content="금연, 웹앱" />
    <meta name="author" content="이름" />
    <meta name="description" content="DamDam 홈페이지입니다." />
    <link rel="icon" href="/images/favicon.png" />

    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/splash.css" />
  </head>
  <body id="splash">
    <div class="splash">담담</div>

    <script>
      setTimeout(() => {
        let link = "/main";
        let link2 = "/noMoreInfo";
        let link3 = "/userName";

        let userName = "<%= userArr[0].userName %>";
        let StartYear = "<%= userArr[0].StartYear %>";
        console.log(userName);

        if (userName == false) {
          location.href = link3;
        } else if (StartYear == false) {
          location.href = link2;
        } else {
          location.href = link;
        }
      }, 2000);
    </script>
  </body>
</html>
