<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 제이쿼리  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- js -->
    <script src="./js/symptom.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="./css/symptom.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <title>금단증상</title>
  </head>
  <body>
    <div class="symp_wrap">
      <!-- 금단증상 제목 -->
      <div class="symp_title">
        <div class="symp_left_arrow">
          <a href="/main"
            ><img src="./images/symptom_1.png" alt="symptom_img"
          /></a>
        </div>
        <h1>금단증상 극복</h1>
      </div>
      <!-- 금단증상 버튼 -->
      <div class="symp_button_wrap">
        <ul>
          <li>
            <p id="symp_btn_4D" class="symp_btn_remove active">4D</p>
            <p id="symp_btn_0" class="symp_btn_remove">신경과민</p>
            <p id="symp_btn_1" class="symp_btn_remove">우울</p>
            <p id="symp_btn_2" class="symp_btn_remove">불안</p>
            <p id="symp_btn_3" class="symp_btn_remove">두통</p>
          </li>

          <li>
            <p id="symp_btn_4" class="symp_btn_remove">갈증,목,잇몸,혀의통증</p>
            <p id="symp_btn_5" class="symp_btn_remove">집중력 감소</p>
            <p id="symp_btn_6" class="symp_btn_remove">소화장애</p>
            <p id="symp_btn_7" class="symp_btn_remove">기침</p>
          </li>
          <li>
            <p id="symp_btn_8" class="symp_btn_remove">공복감, 배고픔</p>
            <p id="symp_btn_9" class="symp_btn_remove">불면</p>
            <p id="symp_btn_10" class="symp_btn_remove">피로감</p>
            <p id="symp_btn_11" class="symp_btn_remove">따끔따끔 쑤시는 느낌</p>
          </li>
        </ul>
      </div>
      <!-- 금단증상 내용 -->
      <div class="symp_contents_wrap">
        <!-- 4D 금단증상 내용 -->
        <div class="symp_contents_4D active">
          <h1>기억하세요 "4D", 흡연 욕구 참기!</h1>
          <ul>
            <li>
              <div class="contents_upper">
                <div class="contents_img_wrap">
                  <img src="./images/symptom_2.png" alt="symptom_img" />
                </div>
                <p>Delay:지연하기</p>
              </div>
              <div class="contents_under">
                <p>
                  흡연 욕구는 3~5분 정도 지속됩니다. 간식을 먹기, 명상하기 등
                  시간을 지연시켜 보세요.
                </p>
              </div>
            </li>
            <li>
              <div class="contents_upper">
                <div class="contents_img_wrap">
                  <img src="./images/symptom_3.png" alt="symptom_img" />
                </div>
                <p>Drink:물마시기</p>
              </div>
              <div class="contents_under">
                <p>
                  충분한 수분 섭취는 흡연 욕구를 줄이고 니코틴 농도를
                  낮춰줍니다.
                </p>
              </div>
            </li>
            <li>
              <div class="contents_upper">
                <div class="contents_img_wrap">
                  <img src="./images/symptom_4.png" alt="symptom_img" />
                </div>
                <p>Do something different : 다른 생각하기</p>
              </div>
              <div class="contents_under">
                <p>
                  다른 일에 몰두하다 보면 주의가 분산돼 흡연에 대한 생각을 잊을
                  수 있어요. 다른 무언갈 시작해보세요.
                </p>
              </div>
            </li>
            <li>
              <div class="contents_upper">
                <div class="contents_img_wrap">
                  <img src="./images/symptom_5.png" alt="symptom_img" />
                </div>
                <p>Deep breathing : 심호흡 하기</p>
              </div>
              <div class="contents_under">
                <p>심호흡을 통해 스트레스를 완화시켜 보세요.</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- 4D가 아닌 금단증상 내용 -->
        <div class="symp_contents_exception_4D">
          <h1>신경과민</h1>
          <ul>
            <li>
              <div class="contents_upper">
                <div class="contents_img_wrap">
                  <img src="./images/symptom_6.png" alt="symptom_img" />
                </div>
                <p>증상</p>
              </div>
              <div class="contents_under">
                <p>
                  니코틴은 안정감을 주고, 긴장을 해소하는 효과를 가지고
                  있습니다. 오랫동안 흡연하여 일단 중독이 되면 금연하여 니코틴
                  공급이 끊어졌을 때 신경계에 일대 혼란이 일어납니다. 결과적으로
                  신경질적이 되기 쉽고 예민하게 됩니다. 수일간 지속되다가
                  사라집니다.
                </p>
              </div>
            </li>
            <li>
              <div class="contents_upper">
                <div class="contents_img_wrap">
                  <img src="./images/symptom_7.png" alt="symptom_img" />
                </div>
                <p>대처방법</p>
              </div>
              <div class="contents_under">
                <p>
                  1)휴식을 취하고 신선한 공기를 마시며 산책하기
                  <br />
                  2)운동 시작하기
                  <br />
                  3)심호흡을 함으로써 긴장을 이완시키기
                  <br />
                  4)경험했던 조용하고 평화로운 장면 생각하기
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer>
      <div class="home active">
        <a href="/main"><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="achievement">
        <a href="/achievement"><i class="fa-solid fa-trophy"></i></a>
      </div>
      <div class="community">
        <a href="/community"><i class="fa-solid fa-user-group"></i></a>
      </div>
      <div class="calendar">
        <a href="/calendar"><i class="fa-solid fa-calendar-days"></i></a>
      </div>
    </footer>
    <!-- fontA -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
