<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>금단증상 극복</title>
  </head>
  <body>
    <div>
      <div class="title">
        <img src="/images/ion_arrow-back.png" alt="뒤돌아가기" />
        <h1>금단증상 극복</h1>
      </div>
      <div class="navbutton">
        <div class="navbutton-title">4</div>
      </div>
      <div class="content"></div>
    </div>
  </body>
</html>
