<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InpuUserName</title>
    <link rel="stylesheet" href="/css/UserName.css" />
  </head>
  <body id="UserName">
    <div class="UserName-container">
      <div class="title"><h1>이름을 입력해주세요.</h1></div>
      <div class="contents">
        <img src="/images/UserName-title.png" alt="UserName-title" />
        <form action="/UserNameData" method="post">
          <label for="username">
            <span>제 이름은</span>
            <input
              type="text"
              name="userName"
              id="username"
              autocomplete="off"
              required
              maxlength="6"
            />
          </label>
          <button>다음</button>
        </form>
      </div>
      <div class="UserName-nextBtn"></div>
    </div>
  </body>
</html>
